.first-page {
    background-image: url("https://wallpaperaccess.com/full/481675.jpg");
    background-size: auto;
    height: 100vh;
}

.title {
    margin-top: 1%;
    margin-left: 1%;
    padding: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


.top {
    position: sticky;
    background-color: aliceblue;
}

.mean {
    text-align: center;
    margin-top: 20%;
}


.zero {
    margin-top: 100px;
}

.one {
    border: 3px solid black;
    font-size: 15px;
    margin: 15px;
    text-align: center;
    height: 400;
    
}

.none {
    display: none;
}